.app {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
  font-family: 'Montserrat', sans-serif;
}

.header {
  padding-bottom: 3em;
  color: #fff;
}

.meme:hover > .meme__image {
  transform: scale(1);
  height: 100%;
}

.meme {
  display: block;
  position: relative;
  transition: all 0.2s ease;
  background-color: transparent;
  border-radius: 1em;
  height: fit-content;
}

.meme:hover {
  cursor: pointer;
}

.meme__title {
  margin: 0;
  font-size: 2em;
  transition: all 0.2s ease;
}

.accordeon__input {
  position: absolute;
  top: 5px;
  right: 0;
  margin: 0;
  width: 1.4em;
  height: 1.4em;
  background-color: #000;
  display: none;
}

.accordeon__input:checked ~ .meme__image {
  transform: scale(1);
  height: 100%;
}

.meme__icon {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url('./images/plus.jpg');
  background-size: 2em 2em;
  width: 2em;
  height: 2em;
}

.accordeon__input:checked ~ .meme__icon {
  background-image: url('./images/minus.jpg');
}

.meme:hover > .meme__icon {
  background-image: url('./images/minus.jpg');
}

.meme__image {
  margin-top: 1em;
  transition: all 0.2s ease;
  width: 30em;
  height: 0;
  transform: scale(0);
  border-radius: 1em;
}

.accordeon {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  row-gap: 1.8em;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .meme__image {
    width: 25em;
  }
  .meme__title {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 568px) {
  .meme__image {
    width: 15em;
  }
  .meme__title {
    font-size: 1em;
  }
  .meme__icon {
    background-size: 1em 1em;
    width: 1em;
    height: 1em;
  }
  .accordeon {
    row-gap: 0.5em;
  }
}
